body{
    margin: 0;
    padding: 0;
    text-align: center;
	background-color: rgb(197, 194, 188);
	font-family: 'Ubuntu', sans-serif;
}

.header-wrapper{
    margin: 2em auto;
}
.header-wrapper img{
    width: 20%;
}
.header-wrapper h1{
    font-family: 
}
article{
    
    border-top: 2px solid rgb(199, 150, 150);
}
.content{
    width: 78%;
    margin: 0 auto 4em auto;
    padding-top: 3em;
}

.content img{
    width: 100%;
    -webkit-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.41);
	-moz-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.41);
	box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.41);
}

.pdf-frame{
    width: 100%;
    height: 500px;
}
iframe{
    width: 100%;
}

@media only screen and (max-width:768px){
    .header-wrapper img{
        width: 70%;
    }
    .content{
        width: 85%;
    }
    .pdf-frame{
        width: 50%;
    }
}
