body, html{
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(245, 235, 219);
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}

/* START OF HEADER */

header{
    margin-top: 10vh;
    height: 300px;
    background-image: url("../assets/headers/pendaftaran.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    display: grid;
    place-items: center;
}

.content-title{
    color: #fff;
    padding: 0;
    text-align: center;
    font-size: 50px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* END OF HEADER */

/* START OF NAVBAR */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
	height: 10vh;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: #474343;
	-webkit-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.55);
}

.nav-wrapper{
    display: none;
}

.nav-link-wrapper{
	list-style: none;
}
.desktop-nav-container{
	display: flex;
    justify-content: space-around;
}
.nav-wrapper-desktop{
    list-style: none;
    display: flex;
    width: 45%;
	justify-content: space-around;
	/* to center with the nav links */
	margin-top: 2px;
}
/* register */

.register-btn{
    text-align: center;
    border: 2px solid rgb(22, 202, 142);
    background-color: rgb(22, 202, 142);
	/* to center with the nav links */
	margin: -10px; 
    /* background:none; */
    padding: 8px 13px;
	cursor: pointer;
	text-decoration: none;
    position: relative;
    overflow: hidden;
	border-radius: 50px;
	font-size: 18px;
}

.register-btn a{
	text-decoration: none;
    color: black;
    transition: 0.3s;
	font-family: 'Ubuntu', sans-serif;
}

.daftar{
	margin-left: 15px;
}
/*
.register-btn:hover a{
    color: #000;
}

.register-btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(22, 202, 142);
    z-index: -5;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    transition: 0.3s;
}

.register-btn:hover::before{
    height: 185%;
}
*/
/* End of register */

.dropdown-parent{
	position: relative;
    height: 100%;
    transition: max-height 0.3s;
}

.dropdown-parent:hover #dropdown-menu{
    display: block;
    height: auto;
    max-height: 350px;
}

#dropdown-menu:hover {
	display: block;
}

#dropdown-menu{
	position: absolute;
	top: 6vh;
	left: 0px;
    width: 250px;
    height: 0;
	background-color: #474343;
	overflow: hidden;
    display: none;
    transition: 0.5s;
}

.dropdown-item{
    padding: 1em;
}

.dropdown-item a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.dropdown-item a:hover{
    color: rgb(165, 170, 170);
}


.logo{
    height: 50px;
}

.links{
    text-decoration: none;
    color: white;
    padding: 4vh 5px;
	transition: 0.3s;
}

.links:hover{
    color: rgb(165, 170, 170);
}

.register{
	border: white 1px solid;
	box-sizing: content-box;
	/* margin-left: 5px; */
	/* padding: 5px; */
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
}

/* END OF NAVBAR */

/* START OF CONTENT */

.content-wrapper{
    width: 80%;
    margin: 1em auto;
}

.prereq-wrapper{
    text-align: center;
    margin-top: 2em;
}

.form-wrapper{
    width: 70%;
    margin: 3em auto;
    padding: 1em 2em;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #dab28a;
    -webkit-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.41);
	-moz-box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.41);
	box-shadow: 10px 10px 30px -2px rgba(0,0,0,0.41);
}

.visual-divider{
	height: 4px;
	width: 100px;
	background-color: rgb(27, 151, 85);
	border-radius: 5px;
	margin: 1em auto 2.5em auto;
    box-shadow: 3px 3px 6px 0px #fd5e7e;
    /* z-index: 3; */
}

.syarat-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.syarat-wrapper a{
    text-decoration: none;
    background-color: #dab28a;
    color: black;
    padding: 0.5em 1.5em;
    margin-bottom: 1em;
    border-radius: 50px;
    transition: 0.3s;
}
.syarat-wrapper a:hover{
    background-color: #caa578;
}
#form-title{
    text-align: center;
}

.form-section{
    margin: 2em 0;
    padding-top: 2em;
    border-top: 1px #b38888 solid;
}

.form-section h3{
    text-align: center;
    margin: 0;
}

.input-wrapper{
    width: 45%;
    height: 55px;
    position: relative;
    margin: 1em 0;
    overflow: hidden;
}

.form-flex{
    display: flex;
    justify-content: space-between;
}

.footnote{
    font-size: 14px;
    margin-top: 1em;
}

.input-wrapper input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 5px;
    font-size: 17px;
    outline: none;
    border: none;
	background-color: #dab28a;
}

.input-wrapper label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: #383838;
    border-bottom: 2px solid black;
}

.input-wrapper label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -2px;
    border-bottom: 3px solid rgb(99, 99, 175);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    /* overflow: hidden; */
}

.form-name{
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: 0.3s ease all;
}

.uni{
    margin: 0 auto 1em auto;
}

.input-wrapper input:focus + .form-label .form-name,
.input-wrapper input:valid + .form-label .form-name{
    transform: translateY(-160%);
    font-size: 13px;
}

.input-wrapper input:focus + .form-label::after, .input-wrapper input:valid + .form-label::after{
    transform: translateX(0%);
}

.radio-wrapper{
    margin-top: 1em;
}

.radio-item{
    margin: 0.5em 0;
}

.radio-span{
    margin-left: 0.5em;
}

.submit-btn{
    box-sizing: border-box;
    text-transform: uppercase;
    display: block;
    margin: 1.5em auto;
    background-color: #b48e71;
    border: none;
    color: rgb(34, 33, 33);
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    padding: 0.7em 1.5em;
    transition: 0.5s all ease;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #a38871;
}

.submit-btn:active{
    background-color: #be9b7e;
}

.success{
    background-color: rgb(18, 156, 18);
}

.failed{
    background-color: rgb(231, 3, 3);
}

/* LOADER */
.loader-wrapper{
    text-align: center;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #a38871;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #a38871 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

/* END OF CONTENT */

/* START OF FOOTER */

footer{
	background-color: #23150A;
	color: white;
	position: relative;
	padding: 1em 20px;
	margin-bottom: 0;
	font-size: 16px;
}

#upper-footer{
	display: flex;
	justify-content: space-around;
	margin-top: 1em;
}

footer a{
	text-decoration:none;
	color: white;
}

#footer-contact{
	margin: 0;
	padding: 0;
}

#footer-contact li{
	list-style: none;
}

.footer-contact-subtitle{
	font-size: 20px;
	margin-bottom: 0;
	line-height: 1.5em;
	padding-top: 10px;
}

.footer-contact-content{
    margin: 0;
    margin-top: 3px; /* NEW!!! */
	padding: 0;
}

#footer-link {
	padding: 10px 0;
}

.social-link{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(83, 53, 53);
	display: grid;
	margin: 20px 15px;
	margin-left: 0;
	font-size: 18px;
	place-items: center;
	float: left;
	transition: 0.3s;
}

.social-link:hover{
	background-color: white;
	color: rgb(83, 53, 53);
}

.actual-contact{
	clear: both;
}

#link-wrapper{
	padding: 40px 0;
}

.link-item{
	list-style: none;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.5em;
}

.link-item ul{
	padding-left: 20px;
}

#copyright-wrapper{
	text-align: center;
	margin: 0.5em 0 1em 0;
}

/* END OF FOOTER */

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    
    /* NAV */
	.burger{
		display: block;
    }
    /* END NAV */

    /* FOOTER */
	#upper-footer{
		flex-direction: column;
    }
    /* END FOOTER*/

    /* CONTENT */
    header{
        height: 250px;
    }
    .content-title{
        padding-top: 150px;
        font-size: 33px;
    }
    
}

@media only screen and (max-width: 768px) {

	/* NAVBAR */
    body{
        overflow-x: hidden;
    }
    nav{
        min-height: 60px;
    }
    .nav-wrapper-desktop{
        display: none;
	}
	.logo{
		height: 40px;
	}
    .nav-wrapper{
        display: block;
        position: absolute;
        right: 0;
        top: 10vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 60%;
		background-color: #474343;
		z-index: 15;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
	}
	.register-btn{
		display: none;
	}
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-link-wrapper{
        opacity: 0;
    }
    .register-mobile a{
        /* animation-name: registerAnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 2.5s; */
        border-top: 1px solid rgb(63, 50, 50);
    }
	/* END OF NAVBAR */

    header{
        margin-top: 9vh;
    }

    /* CONTENT */
    .form-flex{
        flex-direction: column;
    }
    .syarat-wrapper{
        flex-direction: column;
    }
    .syarat-wrapper a{
        margin-bottom: 1em;
    }
    .input-wrapper{
        width: 100%;
        margin: 1em 0;
    }
    .form-wrapper{
        width: 90%;
        padding: 2em 1.5em;
    }
    .input-wrapper label{
        font-size: 15px;
    }

    /* FOOTER */
    footer{
        padding-left: 2em;
    }
	.footer-contact-subtitle{
		padding-top: 10px;
		font-size: 18px;
	}
	.footer-contact-content{
		font-size: 14px;
	}
	#link-wrapper{
		padding: 40px 0;
	}
	#link-wrapper h3{
        font-size: 18px;
        margin-bottom: 0;
	}
	.link-item{
		font-size: 16px;
	}
	#footer-link {
		padding: 10px 0;
	}
	.link-item ul{
		padding-left: 20px;
	}
	/* END OF FOOTER */
}

@media only screen and (max-width: 768px) and (orientation: landscape){
    header{
        height: 200px;
    }
    .content-title{
        font-size: 25px;
    }
    .logo{
		height: 25px;
	}
	#upper-footer{
		flex-direction: column;
    }
}

@media only screen and (max-width: 1299px) {
	/* NAV */
    .nav-wrapper-desktop{
		width: auto;
	}
	.nav-wrapper-desktop a{
		font-size: 16px;
	}
	/* END NAV */
}
@media screen 
  and (min-width: 1300px) 
  and (max-width: 1600px) {
	  /* NAV */
	  .nav-wrapper-desktop a{
		  font-size: 16px;
	  }
	  .nav-wrapper-desktop{
		  width: 40%;
	  }
	  /* END NAV */
  }
.nav-active{
    transform: translateX(0%);
}

/* Nav Menu on mobile */

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes registerAnimation{
    0%{
        color: white;
    }
    50%{
        color: rgb(137, 216, 154);
    }
    100%{
        color: white;
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}